#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li{
  list-style: none;
}

.extensions{
  display: grid;
  grid-template-columns: repeat(3, minmax(380px, 1fr));
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
}

.card-container{
  border: 1px solid;
  border-radius: 1rem;
  padding: 1rem;
}

.card-container > .card-content{
  display: flex;

  & img{
    width: 60px;
  }
}

.card-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-btn{
  height: 30px;
  width: 50px;
  background-color: aliceblue;
  border-radius: 50px;
  position: relative;
}

.toggle-btn > .knob{
  position: absolute;
  top: 2.5px;
  /* left: 3px; */
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  transition: left .2s linear;
}

.isActive{
  left: 5px;
}

.notActive{
  left: 20px;
}

@keyframes animate-toggle {
  from{
    justify-content: end;
  }
  to{
    justify-content: start;
  }
}